{% extends "base.html" %}
{% load staticfiles %}
{% block title %}注册{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/register.css' %}" />{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class='form-register' action="/register/" method="post">
                <h2 class="text-center">欢迎注册</h2>
                <div class="form-group">
                    <label for="id_username">用户名：</label>
                    <input type="text" name='username' class="form-control" id="id_username" placeholder="Username"
                           autofocus required>
                </div>
                <div class="form-group">
                    <label for="id_password">密码：</label>
                    <input type="password" name='password' class="form-control" id="id_password" placeholder="Password"
                           required>
                </div>
                <div class="form-group">
                    <label for="id_nickname">昵称：</label>
                    <input type="text" name='nickname' class="form-control" id="id_nickname" placeholder="Nickname">
                </div>
                <div class="form-group">
                    <label for="id_email">邮箱：</label>
                    <input type="email" name='email' class="form-control" id="id_email" placeholder="Email"
                           required>
                </div>
                <div class="form-group">
                    <label for="id_gender">性别：</label>

                    <input type="text" name='gender' class="form-control" id="id_gender" required>
                </div>
                <button type="reset" class="btn btn-default pull-left">重置</button>
                <button type="submit" class="btn btn-primary pull-right">提交</button>
            </form>
        </div>
    </div> <!-- /container -->
{% endblock %}